* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;

    text-align: center;
    margin: 0;
    padding: 0;
}

#destiny {
  width: 626px;
  margin: 64px auto 32px;
}

#destiny img {
  margin-bottom: 32px;
}

h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: normal;

  color: #3F3D56;
}

#destiny h1 span {
  font-weight: bold;
  color: #EE24FF;
}

#destiny p {
  position: relative;
  margin: 16px auto ;

  line-height: 22px;
  font-size: 15px;

  width: 540px;

  color: #828282;
}

#destiny p + p {
  margin-top: 32px;
  width: 626px;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;

}

#destiny p span {
  font-weight: bold;
  color: #3F3D56;
}

.line {
  width: 391px;
  height: 0;
  margin: 64px auto 16px;
  border: 1px #eceff2 solid;
}

#footer a {
  color: #3F3D56;
  text-decoration: none;
  font-weight:bold;
  font-size: 15px;
}

#footer a + a {
  margin-left: 42px;
}

#img-footer {
  width: 100%;
  margin-top: 40px;
  margin-bottom: -20px
}